.button{
    font-family: var(--heading-font);
    text-transform: uppercase;
    width: 9rem;
    border: 2px solid var(--color-grey-dark);
    letter-spacing: 2px;
    padding: .5rem;
    font-weight: 700;
    background-color: var(--color-white);
    transition: all .3s;
    &:hover{
        cursor: pointer;
        background-color: var(--color-black);
        color: var(--color-white);
    }
}