.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--max-width);
  width: 90%;
  margin: auto;
  padding-top: 4rem;
  @media only screen and (max-width:460px) {
    padding-top: 2rem;
            
  }
  &__logo {
    @media only screen and (max-width:460px) {
            width: 10rem;
    }
  }
  &__icon{
    cursor: pointer;
  }
  &__nav {
    list-style: none;
    padding-inline-start: 0;
    display: flex;
    @media only screen and (max-width:660px) {
      
    }
    &-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      transition: all 0.3s;
      position: relative;
      &::after {
        content: "";
        background-color: var(--color-white);
        position: absolute;
        width: 0;
        height: 2px;
        bottom: -0.5rem;
        transform: translateX(50%);

        transition: width 0.3s;
        transform-origin: center;
      }
      &:not(:last-child) {
        margin-right: 1.8rem;
      }
      &:hover {
        cursor: pointer;
        &::after {
          width: 50%;
        }
      }
    }
  }
}

