.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(309, 66%, 71%);
}

.footer {
  color: var(--color-white);
  background-color: var(--color-black);
  &__row {
    display: flex;
    justify-content: space-between;
    max-width: var(--max-width);
    width: 90%;
    margin: auto;
    padding: 2rem 0;
    @media only screen and (max-width:768px) {
     flex-direction: column;       
    }
  }
  &__navbar {
    @media only screen and (max-width:768px) {
     display: flex;
     flex-direction: column;
     align-items: center;
     margin-bottom: 3rem;  
    }
    &__logo {
      width: 8.5rem;
      margin-bottom: 2rem;
    }
    &__nav {
      list-style: none;
      padding-inline-start: 0;
      display: flex;
      @media only screen and (max-width:768px) {
       flex-direction: column;
       align-items: center;     
      }
      &-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: all 0.3s;
        position: relative;
        &::after {
          content: "";
          background-color: var(--color-white);
          position: absolute;
          width: 0;
          height: 2px;
          bottom: -0.5rem;
          transform: translateX(50%);

          transition: width 0.3s;
          transform-origin: center;
        }
        &:not(:last-child) {
          margin-right: 1.8rem;
          @media only screen and (max-width:768px) {
            margin-right: unset;
            margin-bottom: 1.5rem;
            
          }
        }
        &:hover {
          cursor: pointer;
          &::after {
            width: 50%;
          }
        }
      }
    }
  }
  &__column {
    display: flex;
    flex-direction: column;
    align-items: end;
    @media only screen and (max-width:768px) {
      align-items: center;
            
    }
  }
  &__group {
    transition: all 0.3s;
    position: relative;
    &::after {
      content: "";
      background-color: var(--color-white);
      position: absolute;
      width: 0;
      height: 2px;
      bottom: -0.5rem;
      left: 0;
      transition: width 0.3s;
      transform-origin: center;
    }
    &:not(:last-child) {
      margin-right: 1.8rem;
    }
    &:hover {
      cursor: pointer;
      &::after {
        width: 100%;
      }
    }
  }
  &__social {
    margin-bottom: 2rem;
    display: flex;
    img {
      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }
  &__copy {
    color: var(--color-grey-dark);
  }
}
